@font-face {
    font-family: fontnite;
    src: url(../Fonts/fFeelingSoon.ttf);
}

* {
    background-color: black;
    color: white;
    text-align: center;
    font-family: fontnite;
}

img {
    margin: auto;
    display: block;
    aspect-ratio: 1 / 1;
}

#cover {
    width: 30%;
}

#playpause {
    width: 5%;
}

input {
    width: 100px;
}